@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right,#41EAD4, #F71735,#011627);
}

main {
    background-color: white;
    border-radius: 3%;
    box-shadow: 5px 5px 3px black;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1 {
    color: #F71735;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

h2 {
    color: #41EAD4;
}

p {
    text-align: justify;
}